<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ASCIIToPaperTapeSVG.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <ASCIIToPaperTapeSVG.Properties.Settings>
            <setting name="HorizontalMargin" serializeAs="String">
                <value>0.25</value>
            </setting>
            <setting name="ColumnSpacing" serializeAs="String">
                <value>0.1</value>
            </setting>
            <setting name="DataHoleDiam" serializeAs="String">
                <value>0.072</value>
            </setting>
            <setting name="TapeHeight" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="SprocketHoleDiam" serializeAs="String">
                <value>0.046</value>
            </setting>
            <setting name="MaxTapeLengthIn" serializeAs="String">
                <value>10</value>
            </setting>
        </ASCIIToPaperTapeSVG.Properties.Settings>
    </userSettings>
</configuration>